<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HOME</h1>
    <h2>Noitce part</h2>
    <a href="/view">view</a>
    <br>
    <a href="/reopen">reopen</a>
    <br>
    <a href="/new">new</a>
    <br>
    <a href="/draft">draft</a>
</body>
</html>