<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>view</h1>

    <form action="/view" method="post">
        <input type="text" name="Fir_ID" placeholder="Fir_ID">
        <br>
        <input type="text" name="District_Name" placeholder="District_Name">
        <br>
        <input type="text" name="UnitName" placeholder="UnitName">
        <br>
        <input type="submit">
    </form>
</body>
</html>
